{% extends 'base.html.twig' %}

{% block body %}
	<div class="contact">
		<br><br>
		<h1 style="text-align: center;">Contact ✅</h1>
		<br><br><br>
		<div style="float: left; text-align:center;">
			<p class="fa fa-envelope-o" style="text-align:center;"> </p>
			<p>Ali lemouyis Mounir</p>
			<p>7,avenue du haut champ</p>
			<p>1082, Berchem sainte aghate
		</div>
		<br><br>
		<div style="float: right; margin-top:100px;">
			<div>
			<p class="fa fa-phone"> : 0472517193</p>
			</div>
			<div>
			<p class="fa fa-at"> : m.alilemouyis@outloock.com</p>
			</div>
		</div>
	
	</div>
{% endblock %}
